@model List<Model.EF.Menu>
<div class="top-hny-left-content col-lg-6 pl-lg-0">
    <h6>
        Upto 30% off on All product , <a href="https://localhost:44377/Home/Index" target="_blank">
            Click here for <span class="fa fa-hand-o-right hand-icon" aria-hidden="true"></span> <span class="hignlaite">
                More
                details
            </span>
        </a>
    </h6>
</div>

<div class="top-hny-left-content col-lg-6">
    @{
        var session = (UserLogin)Session[Innisfree_Shop.Common.CommonConstants.USER_SESSION];
    }
    @if (session == null)
    {
        <ul style="display: flex; justify-content: flex-end;">
            @foreach (var item in Model)
            {
                <li style="list-style:none; "><a style="font-size: 1.3rem;" href="@item.Link" target="@item.Target">@item.Text</a></li>
            }


        </ul>
    }
    else
    {
        
            <ul style="color: white;list-style: none;display: flex;justify-content: flex-end;">
                <li style="margin-right:10px;"> Xin Chào: @session.UserName</li>
                
                <p style="color:white;"> |</p>
                <li>@Html.ActionLink("Thoát", "Logout", "User")</li>
            </ul>
        
            }

        </div>
        <div class="clear"></div>
